nextflow_ci/
.nextflow/                                               
.nextflow.log                                           
reports/                                                 
tmpdir/                                                  
work/                                                    
.nextflow.log.*
tmp/                                                     
results/                                                 
inputs/
singularity_cache/