workDir =    "${projectDir}/../work"
tmpDir =     "${projectDir}/../tmp"

params {
  outdir =    "${projectDir}/../results"
  reportdir = "${projectDir}/../reports"
}

timeline {
  enabled = true
  file = "${params.reportdir}/timeline.html"
}

trace {
  enabled = true
  file = "${params.reportdir}/trace.txt"
}

profiles {
  lsf {
    includeConfig './confs/lsf.conf'
    includeConfig './confs/lsf_tasks.conf'
  }
}

